
  <div class="card" style="width: 18rem; height:30em;" >
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h5 class="card-title text-center">ADD QUOTE</h5>
      <div class="container-fluid">
        <h2 class="text-center"></h2>
        <hr>
        <form>
            <div class="form-group">  
      
                <label for="name">Name</label>
                <input type="text" required class="form-control" id="name">
      
            </div>
            <br>
            <div class="form-group">
      
                <label for="description">Description</label>
                <textarea class="form-control" id="description" rows="4" required></textarea>
      
            </div>
            <br>
            <div class="form-group">
                <label for="complete">Date</label>
                <input type='date' id="complete" required>
      
            </div>
            <br>
            <button type="submit" class="btn btn-success">Add Quote</button>
        </form>
      </div>
      
    </div>
  </div>